@model IEnumerable<prjCoreFT.Models.CampStyle>

@{
    ViewData["Title"] = "CampStyleList";
}

<h1>露營型式</h1>

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">營區管理</li>
            <li class="breadcrumb-item active">露營型式</li>
        </ol>
    </nav>
</div>
@using (Html.BeginForm())
{
        <p>
            關鍵字
        @Html.TextBox("txtKeyword")
            <input type="submit" value="查詢" class="btn btn-secondary" />
        </p>
}

<p>
    <a asp-action="CampStyleCreate" class="btn btn-primary">新增露營型式</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.項目內容)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.建立人)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.建立時間)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.修改人)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.修改時間)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model) {
                count++;
                <tr>
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.項目內容)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.建立人)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.建立時間)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.修改人)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.修改時間)
            </td>
            <td>
                @Html.ActionLink("修改", "CampStyleEdit", new {  id=item.露營形式id },new{@class="btn btn-success"})|
                @Html.ActionLink("刪除", "CampStyleDelete", new { id = item.露營形式id },
                new { onclick = "return confirm('確定要刪除嗎?')",@class="btn btn-danger" })
            </td>
        </tr>
}}
    </tbody>
</table>
