@model IEnumerable<prjCoreFT.Models.Camp>

@{
    ViewData["Title"] = "CampList";
}

<h1>營區總覽</h1>

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">營區管理</li>
            <li class="breadcrumb-item active">營區總覽</li>
        </ol>
    </nav>
</div>
@using (Html.BeginForm())
{
    <p>
        關鍵字
        @Html.TextBox("txtKeyword")
        <input type="submit" value="查詢" class="btn btn-secondary" />
    </p>
}

<p>
    <a asp-action="CampCreate" class="btn btn-primary">新增營區</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.營區名稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.營區地址)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.地區)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.縣市)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.營區介紹)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.容納人數)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.建立人)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.建立時間)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.修改人)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.修改時間)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0; foreach (var item in Model) {
                count++;
                <tr>
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.營區名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.營區地址)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.地區)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.縣市)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.營區介紹)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.容納人數)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.建立人)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.建立時間)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.修改人)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.修改時間)
            </td>*@
            <td>
                @Html.ActionLink("編輯", "CampEdit", new {  id=item.營區id },new{@class="btn btn-success"})|
                @Html.ActionLink("刪除", "Delete","Camp", new { id = item.營區id },
                new { onclick = "return confirm('確定要刪除嗎?')",@class="btn btn-danger" })
            </td>
        </tr>
}}
    </tbody>
</table>
